/*  your css code here. If applicable */
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px 10px;
}

table {
    margin-bottom: 15px;
}

button {
    padding: 6px 12px;
}

